.background {
  background-image: url("binary.png");
}
.sidebar {
  height: 30%;
  width: 180px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to bottom right, white, lightblue);
  }
  
  .sidebar div {
  padding: 10px;
  margin-left: 8px;
  font-size: 24px;
  display: block;
  }

.menu {
  margin-left: 25px;
  padding: 10px;
  border-radius: 20px;
  height: 175px ; 
  width: 225px;
  background-image: linear-gradient(to bottom right, white, lightblue);
  margin-bottom: 25px;
  margin-left: 250px;
}

.allFigs {
  display: inline-block;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, white, lightblue);
  width: 400px;
  margin:75px;
  margin-left: 250px;
  padding:25px;
}

.form{
  margin-left: 25px;
  border-radius: 20px;
  height: auto; 
  width: 250px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}

.details{
  margin-left: 50px;
  padding: 30px;
  width: 900px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}

.link{
  color:blue;
}
.link:hover {
  color: lightblue
}


.button{
  color: white;
  background-color: blue;
  border-radius: 25px;
}

.button:hover {
  background-color: lightblue;
  color: black;
}

.loginWord{
  color: blue;
  margin-left: 25px;
  border-radius: 20px;
  height: 45px ; 
  width: 85px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}
.login{
  margin-left: 25px;
  border-radius: 20px;
  height: auto ; 
  width: 200px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}

.registerWord{
  color: blue;
  margin-left: 25px;
  border-radius: 20px;
  height: 45px ; 
  width: 125px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}

.register{
  margin-left: 25px;
  border-radius: 20px;
  height: 210px ; 
  width: 200px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, white, lightblue);
}

.error{
  color: red;
  margin-left: 25px;
  
}